.navbar {
  position: absolute;
  inset: 0;
  height: fit-content;
  background: rgb(128, 128, 128, 0.3);
}

.navbar > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar > ul > li {
  /* height: fit-content; */
  background: purple;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
