.App {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.btn {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;

  background: purple;
  color: #fff;
  border: none;
  border-radius: 1rem;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background: #fff;
  color: purple;
  border: 2px solid purple;
}
